.movie-component(onClick=this.click, class="noselect")
  .thumbnail
    img(src=this.state.imgUrl)
  .details
    p.title=this.props.details.title
    p= this.props.details.genera.join(', ')
    p
      pellet_intl(index='genera', count=this.state.votes)
    p
      pellet_intl(index='ratings', RATINGS=this.props.details.ratings, GENDER=this.props.details.gender)