.movie-component(onClick=this.click, class="noselect")
  .thumbnail
    img(src=this.state.imgUrl)
  .details
    p.title=this.props.details.title
    p= this.props.details.genera.join(', ')
    p genera votes:
      span.vote  #{this.state.votes}